/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"), url("../fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Poppins";
  font-weight: 700;
  color: #34313D;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0 78px;
}

.header-nav__logo, .heade-nav__img {
  width: 120px;
  height: 33px;
}

.header-nav__btn {
  background-image: url(../images/burger-menu.png);
  background-size: 24px 21px;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 21px;
  margin-right: 15px;
  display: none;
}

.header-nav__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  padding-left: 17px;
}

.header-nav__item {
  margin-left: 29px;
}

.header-nav__link {
  color: #9E9AA8;
  font-size: 15px;
  line-height: 22.5px;
}

.link-btn {
  color: #FFFFFF;
  padding: 9px 23px 8px 24px;
  background-color: #2BD0D0;
  border-radius: 28px;
}

@media only screen and (max-width: 690px) {
  .header-nav__box {
    display: none;
  }
  .header-nav__btn {
    display: block;
  }
  .header-nav__list {
    flex-direction: column;
    align-items: center;
  }
  .header-nav__item {
    margin: 15px auto;
  }
}
.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  margin: 100px auto;
  padding: 15px 0;
  top: 0px;
  left: 20px;
  z-index: 2;
  background-color: #3A3054;
  border-radius: 10px;
}

.hero {
  background-image: url(../images/hero-bg.svg);
  background-size: 850px;
  background-repeat: no-repeat;
  background-position: calc(50% + 480px) top;
  width: 100%;
  height: 100%;
}

.hero-box {
  max-width: 565px;
  height: 351px;
  padding-top: 150px;
  padding-bottom: 300px;
}

.hero-box__theme {
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -5px;
}

.hero-box__commit {
  color: #9E9AA8;
  margin: 5px 0 52px;
  font-size: 22px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.15px;
}

.hero-box__likn {
  font-size: 20px;
  line-height: 30px;
  width: 197px;
  height: 56px;
}

@media only screen and (max-width: 1200px) {
  .hero {
    background-size: 800px;
    background-position: calc(50% + 440px) top;
  }
  .hero-box {
    padding: 20px 0 238px;
  }
  .hero-box__theme {
    font-size: 72px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero {
    background-size: 650px;
    background-position: calc(50% + 400px) top;
  }
  .hero-box {
    max-width: 500px;
    padding: 0px 0 208px;
  }
  .hero-box__theme {
    font-size: 60px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 880px) {
  .hero {
    background-size: 550px;
    background-position: calc(50% + 350px) top;
  }
  .hero-box {
    padding: 0px 0 208px;
  }
  .hero-box__theme {
    font-size: 60px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 775px) {
  .hero {
    background-size: 700px;
    background-position: calc(70% + 200px) top;
  }
  .hero-box {
    margin: 0 auto;
    padding: 500px 0 208px;
  }
  .hero-box__theme {
    font-size: 67px;
  }
}
.id {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.id__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.id__wrapper {
  padding: 52px;
  margin: 0 12px;
  max-width: 1140px;
  background-image: url("/images/bg-form.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  top: -100px;
  left: 0;
  right: 0;
}

.id__input-wrap {
  width: 100%;
  padding-right: 25px;
  height: 58px;
}

.id__input {
  padding: 6px 0px 0px 16px;
  height: 48px;
  width: 95%;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.12px;
  color: #34313D;
  outline: none;
  border: 3px solid transparent;
  border-radius: 5px;
}

.id__error {
  margin-bottom: 16px;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.0818182px;
  color: #F46363;
  opacity: 0;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid {
  border: 3px solid red;
}

input:not(:-ms-input-placeholder):not(:focus):invalid {
  border: 3px solid red;
}

input:not(:placeholder-shown):not(:focus):invalid {
  border: 3px solid red;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid + .id__error {
  opacity: 1;
}

input:not(:-ms-input-placeholder):not(:focus):invalid + .id__error {
  opacity: 1;
}

input:not(:placeholder-shown):not(:focus):invalid + .id__error {
  opacity: 1;
}

.id__btn {
  width: 100%;
  max-width: 327px;
}

.id__button {
  width: 100%;
  padding: 18px 0;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  background-color: #2BD0D0;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.id__button:hover {
  background-color: #9AE3E3;
}

@media only screen and (max-width: 775px) {
  .id__wrapper {
    padding: 24px 20px 60px;
  }
  .id__input-wrap {
    height: 30px;
  }
  .id__error {
    height: 30px;
  }
  .id__input {
    height: 30px;
  }
  .id__button {
    padding: 8px;
  }
  .id__form {
    display: block;
  }
  .id__btn {
    margin: 22px auto 0;
  }
}/*# sourceMappingURL=main.css.map */