.hero{
    background-image: url(../images/hero-bg.svg);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: calc(50% + 480px) top;
    width: 100%;
}
.hero-box{
    max-width: 565px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.hero-box__theme{
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -5px;
}
.hero-box__commit{
    color: #9E9AA8;
    margin: 5px 0 52px;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.15px;
}
.hero-box__likn{
    font-size: 20px;
    line-height: 30px;
    padding: 14px 40px 12px;
}
@media only screen and (max-width: 1200px) {
    .hero{
        background-size: 800px;
        background-position: calc(50% + 440px) top;
    }
    .hero-box{
        padding: 20px 0 238px;
    }
    .hero-box__theme{
        font-size: 72px;
    }
}
@media only screen and (max-width: 1024px) {
    .hero{
        background-size: 650px;
        background-position: calc(50% + 400px) top;
    }
    .hero-box{
        max-width: 500px;
        padding: 0px 0 208px;
    }
    .hero-box__theme{
        font-size: 60px;
        line-height: 80px;
    }    
}
@media only screen and (max-width: 880px) {
    .hero{
        background-size: 550px;
        background-position: calc(50% + 350px) top;
    }
    .hero-box{
        padding: 0px 0 208px;
    }
    .hero-box__theme{
        font-size: 60px;
        line-height: 70px;
    }    
}
@media only screen and (max-width: 775px) {
    .hero{
        background-size: 700px;
        background-position: calc(70% + 200px) top;
    }
    .hero-box{
        margin: 0 auto;
        padding: 500px 0 208px;
    }
    .hero-box__theme{
        font-size: 67px;
    }    
}